:root {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
.carouselContainer {
  max-width: 1080px;
  margin: auto;
  position: relative;
}
.eachPage .eachImage {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  width: max-content;
  flex: 1 1 100px;
  text-align: center;
}
.eachPage i {
  font-size: 5em;
}
.eachPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.leftIcon {
  position: absolute;
  top: 90px;
  left: 10px;
}
.rightIcon {
  position: absolute;
  top: 90px;
  right: 10px;
}
.allPage {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 0.5em;
}
